<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
           
     
            <div class="col-sm-6 col-lg-4" *ngFor="let m of menus" >
               <app-menu-section [menuInput]='m'></app-menu-section>
            </div>
           
          
        </div>
    </div>
</section>