
    <!--::header part start::-->
 
    <!-- Header part end-->

  <app-banner></app-banner>
    <!-- banner part start-->

    <!--::exclusive_item_part start::-->
    <app-start></app-start>
    <!--::exclusive_item_part end::-->

    <!-- about part start-->
  <app-history></app-history>
    <!-- about part end-->

    <!-- intro_video_bg start-->
   <app-video></app-video>
    <!-- intro_video_bg part start-->

    <!-- food_menu part end-->
    <app-menu></app-menu>

    <!--::chefs_part start::-->
 <app-chefs></app-chefs>
    <!--::chefs_part end::-->

    <!--::regervation_part start::-->
  <app-reservation></app-reservation>
    <!--::regervation_part end::-->

    <!--::review_part start::-->
    <!--::review_part end::-->
    <app-testimonials></app-testimonials>

    <!--::exclusive_item_part start::-->
<app-blog></app-blog>
    <!--::exclusive_item_part end::-->

  