<div class="single_blog_item">
    <div class="single_blog_img">
        <img src={{blogDetails.img}} alt="">
    </div>
    <div class="single_blog_text">
        <div class="date">
            <a href="#" class="date_item">{{blogDetails.date}} </a>
            <a href="#" class="date_item"> <span>#</span> {{blogDetails.category}}</a>
        </div>
        <h3><a href="blog.html">{{blogDetails.title}}</a></h3>
        <h3><a href="blog.html">{{blogDetails.content}}</a></h3>
        <a href="#" class="btn_3">Read More <img src="assets/img/icon/left_1.svg" alt=""></a>
    </div>
</div>