<table class="table table-dark table-striped">

        <thead>
          <tr>
            <th scope="col"># Num</th>
            <th scope="col"># iD</th>
            <th scope="col">Image</th>
            
            <!-- <th scope="col">image</th> -->
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">description</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let plat of plats;let i=index; " >
            <th scope="row">{{i}}</th>
            
            <th scope="row">{{plat._id}}</th>
           
            <td><img [src] ="plat.img"  width="100px" height="100px"></td>
            <td>{{plat.name}}</td>
            <td>{{plat.price}}</td>
            <td>{{plat.description}}</td>
            <td><button type="button" class="btn btn-info" (click)="goToDisplay(plat._id)">display</button>
              <button type="button" class="btn btn-warning"(click)="goToEdit(plat._id)">edit</button>
              <button type="button" class="btn btn-danger" (click)="deletePlatById(plat._id)">delete</button>
            
            </td>
            
           
           
          </tr>
         
        </tbody>
    
  </table>
